#contact {
    width: 90vw;
    max-width: 70rem;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 3rem;
}

.contact-header {
    font-size: 3rem;
    margin-bottom: 1rem;
}

.contact-desc {
    margin: 0 1rem;
}

.contact-form {
    width: 80vw ;
    max-width: 70rem;
    margin: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.name, .email, .message {
    width: 100%;
    max-width: 50rem;
    margin: 0.5rem;
    color: white;
    background-color: rgb(70,70,70);
    padding: 0.5rem 1rem;
    border: none;
    border-radius: 0.5rem;
    font-size: medium;
}

.submit-btn {
    background-color: white;
    margin: 1rem;
    width: 100%;
    max-width: 50rem;
    padding: 1rem 5rem;
    border-radius: 1rem;
    font-size: 1.5rem;
    font-weight: 700;
    cursor: pointer;
}

.submit-btn:hover {
    background-color: yellow;
}

.link-header {
    margin-top: 2rem;
    margin-bottom: 1rem;
    font-size: 2rem;
    font-weight: 700;
}

.link-logo {
    height: 45px;
    width: 45px;
    margin: 0 0.25rem;
}

.links {
    display: flex;
    margin-bottom: 2rem;
}

.link {
    margin: 0 1rem;
    display: flex;
    align-items: center;
    background-color: rgb(206, 206, 206);
    color: black;
    cursor: pointer;
    font-weight: 700;
    padding: 0.5rem 2rem;
    border-radius: 3rem;
}

.link span {
    font-size: 1rem;
}

.link:hover {
    background-color: yellow;
}