#contact {
    min-height: calc(100vh - 4rem);
    width: 100vw;
    max-width: 60rem;
    text-align: center;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.contact-header {
    font-size: 3rem;
}

.contact-desc {
    margin: 1rem;
}

.contact-form {
    width: 80vw ;
    max-width: 60rem;
    margin: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.name, .email, .message {
    width: 100%;
    max-width: 40rem;
    margin: 0.5rem;
    color: white;
    background-color: rgb(40, 40, 40);
    padding: 0.5rem 1rem;
    border: none;
    border-radius: 0.5rem;
    font-size: medium;
}

.submit-btn {
    background-color: white;
    margin: 2rem;
    padding: 1rem 5rem;
    border-radius: 1rem;
    font-size: 1.25rem;
    cursor: pointer;
}

.submit-btn:hover {
    background-color: yellow;
}