#experience {
    width: 90vw;
    max-width: 70rem;
    margin: 1rem auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 3rem;
}

.experience-header {
    margin-bottom: 1rem;
    font-size: 3rem;
}

.company {
    width: 90vw;
    max-width: 50rem;
    background-color: rgb(50,50,50);
    padding: 2rem 3rem;
    border-radius: 2rem;
}

.job-title {
    color: yellow;
    font-size: 2.4rem;
    font-weight: 700;
    margin: 0.5rem 0;
}

.company-detail {
    font-size: 1.15rem;
    margin-bottom: 1rem;
}

.job-summary {
    width: 75vw;
    max-width: 40rem;
    margin: 0 auto;
    height: auto;
    font-weight: 100;
}

.job-summary li {
    font-size: medium;
    line-height: 1.75rem;
    margin: 0.5rem 0;
}







@media screen and (max-width: 500px) {
    .company {
        padding:2rem;
    }
}