#intro{
    width: 100vw;
    padding: 1rem 2rem;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row-reverse;
    justify-content: center;
}

.introImg{
    margin-top: 1rem;
    object-fit: cover;
    height: 500px;
    width: 500px;
}

.introContent {
    padding: 2rem;
    font-size: 3rem;
    font-weight: 700;
    display: flex;
    flex-direction: column;
    justify-content:center;
    flex-wrap: wrap;
}

.hello {
    font-size: 1.75rem;
    font-weight: 100;
}

.introName {
    color: yellow;
}

.introPara {
    font-size: 1rem;
    font-weight: 100;
    width: 90vw;
    max-width: 45rem;
    margin: 0.75rem 0;
    line-height: 1.75rem;
}

.introBtn {
    background-color: white;
    padding: 0.75rem 2rem;
    margin: 1rem 0;
    border: none;
    border-radius: 2rem;
    cursor: pointer;
}

.introBtn:hover {
    background-color: yellow;
}


@media screen and (max-width:500px) {
    .introImg{
        height: 300px;
        width: 300px;
    }
}