.navbar{
    width: 100vw;
    max-width: 85rem;
    height: 5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 2rem;
    position: sticky;
    top: 0;
    z-index: 3;
    background-color: rgb(30, 30, 30);
    margin: 0 auto;
}

.navbar-menu-item{
    margin: 2rem;
    cursor: pointer;
}

.navbar-menu-item:hover{
    color: yellow;
    border-bottom: 3px solid yellow;
    padding-bottom: 0.5rem; 
}

.navbar-btn{
    background-color: white;
    color: black;
    padding: 1rem 2rem;
    border: none;
    border-radius: 3rem;
    cursor: pointer;
    font-weight: 700;
}

.navbar-btn:hover{
    background-color: yellow;
}

.active {
    color: yellow;
    border-bottom: 3px solid yellow;
    padding-bottom: 0.5rem; 
}

.menuIcon {
    height: 50px;
    width: 50px;
    object-fit: cover;
    display: none;
}

.mobile-navbar-menu {
    flex-direction: column;
    position: absolute;
    top: 4rem;
    /* right: 1rem; */
    left: 1rem;
    padding: 0.5rem;
    background-color: rgb(40, 40, 40);
    min-width: 15rem;
    height: fit-content;
    border-radius: 1rem;
    width: 90vw;
}

.mobile-menu-item {
    background-color: rgb(30, 30, 30);
    margin: 0.25rem;
    padding: 0.5rem 3rem;
    border-radius: 1rem;
}

@media screen and (max-width:780px) {
    .menuIcon {
        display: flex;
    }

    .navbar-menu {
        display: none;
    }

    .navbar-btn {
        display: none;
    }
}